<apex:page sidebar="false"
    docType="html-5.0"
    showHeader="false"
    applyHtmlTag="false"
    standardStylesheets="false" >

    <html>
        <head>
            <title>Create survey for user</title>
            <meta charset="utf-8" />
            <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
            <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1" />
            <link href="{!URLFOR($Resource.btnSurvey, '/styles/app.css')}" type="text/css" rel="stylesheet" />
            <script src="{!URLFOR($Resource.btnSurvey, '/scripts/vendor.js')}" type="text/javascript" />
            <script src="{!URLFOR($Resource.btnSurvey, '/scripts/app.js')}" type="text/javascript" />
            <script src="/soap/ajax/36.0/connection.js" type="text/javascript"></script>
            <script src="/soap/ajax/36.0/apex.js" type="text/javascript"></script>
            <script type="text/javascript">
                angular.module('myApp', ['btn.survey'])
                    .run(function ($rootScope, btnSurveySfdcConf) {
                        $rootScope.btnSurveySfdcConf = btnSurveySfdcConf;
                    });
            </script>
        </head>
        <body ng-app="myApp">
            <script>
                angular.module('myApp').constant('btnSurveySfdcConf', {
                    url : null
                });
            </script>
            <div >
                <div data-ng-cloak="ng-cloak">
                    <btn-survey-employee-profile user-id="{!$User.Email}"></btn-survey-employee-profile>
                </div>
            </div>
        </body>
    </html>
</apex:page>