/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
/*
    Taken from angular-ui/bootstrap
    See https://github.com/angular-ui/bootstrap/blob/master/misc/demo/assets/demo.css
*/
body {
    margin-top: 1em;
}

.question-padding-15 {
    padding: 0.4em;
}

.question-text {
    font-weight: bold;
    padding-bottom: 0.3em;
}

.button-block-padding-bottom {
    padding-bottom: 1.5em;
}

.question-padding-bottom {
    padding-bottom: 0.7em;
}

.question-comment {
    padding-top: 2em;
}

.settings-button {
    font-size: 1.2em;
    background-color: #f5f5f5;
    padding: 0px 5px 0px 6px;
    border: solid 1px #ddd;
}

.settings-button:hover {
    background-color: #e5e5e5;
}

.graph-node-label {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.graph-link {
    stroke: #777;
    stroke-width: 2px;
}

.small-grid-question-text {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.disable-selection {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.question-picklist-description {
    padding-top: 1em;
}

.italic-text {
  font-style: italic;
}

.question-select-description {
    cursor: pointer;
    background-image: url('../images/briteskills/question-mark-16x16-gray.png');
    background-image: url('assets/images/question-mark-16x16-gray.png');
    width: 16px;
    height: 16px;
    float: right;
    position: absolute;
    display: inline;
}

.question-select-description:hover {
    background-image: url('../images/briteskills/question-mark-16x16-color.png');
    background-image: url('assets/images/question-mark-16x16-color.png');
}

.question-select-description:hover .tooltiptext {
    opacity: 1;
}

.question-select-description .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    padding: 0.2em;
    width: 300px;
    top: 150%;
    left: 50%; 
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.66s;
}

.question-select-description .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.question-select-description:hover .tooltiptext {
    visibility: visible;
}

.right-align {
    text-align: right;
}

.achievement-question {
    cursor: pointer;
    word-wrap: break-word;
    text-align: center;
    position: relative;
}

.achievement-question-header {
    font-weight: bold;
}

.empty-question {
    -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.35);
}

.required-question {
    -webkit-box-shadow: 0px 0px 20px -4px rgba(255,65,36,0.75);
    -moz-box-shadow: 0px 0px 20px -4px rgba(255,65,36,0.75);
    box-shadow: 0px 0px 20px -4px rgba(255,65,36,0.75);
}

.filled-question {
    -webkit-box-shadow: 0px 0px 20px -4px rgba(51,122,183,1);
    -moz-box-shadow: 0px 0px 20px -4px rgba(51,122,183,1);
    box-shadow: 0px 0px 20px -4px rgba(51,122,183,1);
}

required-question {
    -webkit-box-shadow: 0px 0px 20px -4px rgba(51,122,183,1);
    -moz-box-shadow: 0px 0px 20px -4px rgba(51,122,183,1);
    box-shadow: 0px 0px 20px -4px rgba(51,122,183,1);
}

.slider {
    padding-top: 1.1em;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: #337ab7;
    border-radius: 1.3px;
    border: 0.2px solid #2e6da4;
}

input[type=range]::-webkit-slider-thumb {
    border: 1px solid #cccccc;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: #337ab7;
    border-radius: 1.3px;
    border: 0.2px solid #2e6da4;
}

input[type=range]::-moz-range-thumb {
    border: 1px solid #cccccc;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #2e6da4;
    border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
    background: #337ab7;
    border: 0.2px solid #2e6da4;
    border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
    border: 1px solid #cccccc;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #337ab7;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: wrap;
}

.main-container {
    padding-top: 15px;
}

#main-container {
    position: relative;
}

#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    position: absolute;
    margin: auto;
    padding: 0;
    top: -15px;
    left: 0;
    right: 0;
    z-index: 99999;
}

.search-box {
    margin-bottom: 25px;
    input,
    select,{
        margin: 0 0 10px 0;
    }
    .host{
        margin: 0 0 10px 0;
    }
}

.list-serach-element {
    display: block;
}

.list-serach {
    padding-left: 0;
}

.slide-left {
    -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);

    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.slide-left.ng-enter {
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0;
}

.slide-left.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
}

.slide-left.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1;
}

.slide-left.ng-leave-active {
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    opacity: 0;
}

.slide-left.ng-hide-add {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1;
}

.slide-left.ng-hide-add.ng-hide-add-active {
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    opacity: 0;
}

.slide-left.ng-hide-remove {
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0;
}

.slide-left.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
}

.slide-down {
    -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.slide-down.ng-enter {
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0;
}

.slide-down.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
}

.slide-down.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1;
}

.slide-down.ng-leave-active {
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    opacity: 0;
}

.slide-down.ng-hide-add {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1;
}

.slide-down.ng-hide-add.ng-hide-add-active {
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    opacity: 0;
}

.slide-down.ng-hide-remove {
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0;
}

.slide-down.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
}

.tags {
    border-radius: 5px;
    border-color: #ccc !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
}

.survey-description {
    margin-bottom: 20px;
}

.question-option {
    border: 1px solid #e7e7e7;
    margin:0 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s;
    &:hover {
        background: #f5f5f5;
    }
    &.selected{
        border-color: #a7a7a7;
        background: #e7e7e7;
    }
    & .stars img {
        display: inline-block;
        opacity: .6;
    }
    &.selected .stars img {
        opacity: 1;
    }
    & .inner {
        padding: 10px 0;
    }
    & .question-description {
        font-size: 12px;
        font-style: italic;
        text-align: justify;
    }
    & .question-description {
        font-size: 12px;
        font-style: italic;
        text-align: justify;
    }
}
.userselect {
    margin:0 10px;
    margin-bottom:-3px;
    background:#afa;
    font-size:10px;
    color:green;
    padding:2px 0;
    text-align:center;
    border-radius:5px 5px 0 0
}
.legend {
    margin-top:20px;
    font-style: italic;
    background: #e7e7e7;
    font-size: 12px;
    border-radius: 5px;
    & div {
        padding:5px;
    }
    & .selfanswer {
        background: #aaffaa;;
        color: green;
        border-radius: 5px 5px 0 0;
    }
}
.alert-box{
    position: fixed;
    left:0;
    top:0px;
    width: 100%;
    text-align: center;
    z-index: 100;
    border-radius: 0 0 4px 4px;
}

.sum{
    background: #878787;
    position: absolute;
    top:-7px;
    left:-7px;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    &.self{
    background: #0b8000;
    color: #fff;
}
.assessment {
    border: 1px solid #afa;
    border-radius: 5px;
    color: #999;
    margin: 0 10px 20px;
    padding: 5px 0;
    text-align: center;
}
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
