<div ng-if="question.readOnly == false">
    <input type="numeric" class="form-control" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" min="0" ng-model="answer.value"></input>
</div>
<div ng-if="question.readOnly">
    {{answer.value}}
</div>
