<div ng-if="question.readOnly == false" ng-repeat="option in question.options" class="radio">
    <label>
        <input type="radio" value="{{option.id}}" ng-model="answer.value"> <strong>{{option.name}}</strong>
        <div ng-if="option.description" class="question-select-description">
            <span class="tooltiptext"></span>
            <div ng-bind-html="option.description"></div>
        </div>
    </label>
</div>
<div ng-if="question.readOnly">
    {{answer.value}}
</div>
