<div class="panel panel-default">
    <div class="panel-heading" ng-bind-html="template.name"></div>
    <div class="panel-body">
        <small ng-bind-html="template.description"></small>
        <div class="text-center button-block-padding-bottom row" >
            <btn-survey-buttons></btn-survey-buttons>
        </div>
        <input type="search" ng-model="name" placeholder="Find..." aria-label="Find..." class="form-control input-search"/>
        <ul class="row flex-container list-serach">
            <div ng-repeat="item in items | orderBy: 'question.order' | filter:name as results" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 slide-left" ng-animate="'animate'">
                <btn-survey-grid-question answer="item.answer" question="item.question"></btn-survey-grid-question>
            </div>
        </ul>
        <div class="text-center row">
            <btn-survey-buttons></btn-survey-buttons>
        </div>
    </div>
</div>
