<div ng-if="question.readOnly == false && answer.readOnly != true">
    <div ng-if="question.options.length > 0">
        <ui-select ng-model="answer.value">
            <ui-select-match placeholder="{{btnSurveyLabel.findEmployee}}">
            {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="user.id as user in (question.options | filter: $select.search)">
                <span ng-bind="user.name"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div ng-if="question.options.length == 0">
        <div class="alert alert-warning">{{btnSurveyLabel.allSurveysFilledOut}}</div>
    </div>
</div>
<div ng-if="question.readOnly || answer.readOnly">
    <div class="alert alert-info">{{btnSurveyLabel.surveyOfEmployee}} <strong>{{answer.aboutWhoName}}</strong></div>
</div>
