<li class="list-serach-element question-padding-15 panel panel-success">
    <div class="question-padding-bottom">
        <p ng-bind-html="question.name"></p>
        <p><small ng-bind-html="question.descriptions.default"></small></p>
    </div>
    <div ng-if="question.type === 'text'">
        <btn-survey-grid-question-answer-text question="question" answer="answer"></btn-survey-question-answer-text>
    </div>
    <div ng-if="question.type === 'select'">
        <btn-survey-grid-question-answer-select question="question" answer="answer"></btn-survey-question-answer-select>
    </div>
    <div ng-if="question.type === 'picklist'">
        <btn-survey-grid-question-answer-picklist question="question" answer="answer"></btn-survey-grid-question-answer-picklist>
    </div>
    <div ng-if="question.type === 'percent'">
        <btn-survey-grid-question-answer-percent question="question" answer="answer"></btn-survey-grid-question-answer-percent>
    </div>
    <div ng-if="question.type === 'positiveInteger'">
        <btn-survey-grid-question-answer-positiveinteger question="question" answer="answer" config="config"></btn-survey-grid-question-answer-positiveinteger>
    </div>
    <div ng-if="question.type === 'email'">
        <btn-survey-grid-question-answer-email question="question" answer="answer" config="config" users="users"></btn-survey-grid-question-answer-email>
    </div>
    <div ng-if="question.type === 'info' || question.type === 'error'">
        <btn-survey-grid-question-answer-info question="question" answer="answer"></btn-survey-question-answer-info>
    </div>
<!--     <div>
        <btn-survey-comment answer="answer"></btn-survey-comment>
    </div> -->
</li>