<div ng-if="question.readOnly == false">
    <input type="numeric" class="form-control" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" min="0" ng-model="answer.value" placeholder="Wpisz liczbę"></input>
</div>
<div class="legend" ng-if="answer.selfAnswer || answer.otherEmployeeAvgValue">
    <div class="selfanswer">{{btnSurveyLabel.selfAssessment}}: <strong>{{answer.selfAnswer}}</strong></div>
    <div>{{btnSurveyLabel.averageAppraisalColleagues}}: <strong>{{answer.otherEmployeeAvgValue}}</strong></div>
</div>
<div ng-if="question.readOnly">
    {{answer.value}}
</div>
