<select ng-if="question.readOnly == false" ng-init="answer.value = answer.value || question.options[0].id" ng-model="answer.value" class="form-control" ng-options="option.id as option.name for option in question.options"></select>
<p ng-if="question.readOnly">
    {{answer.value}}
</p>
<p class="question-picklist-description">
    <small ng-if="question.descriptions[answer.value]" ng-bind-html="question.descriptions[answer.value]"></small>
</p>