<li class="list-serach-element" >
    <div class="question-padding-bottom" ng-if="question.type !== 'email' && !question.isSystem && questionConfig.email">
        <p ng-bind-html="question.name"></p>
        <p><small ng-bind-html="question.descriptions.default"></small></p>
    </div>
    <div ng-if="question.type === 'text' && questionConfig.text" class="panel panel-success">
        <btn-survey-list-question-answer-text question="question" answer="answer"></btn-survey-list-question-answer-text>
    </div>
    <div ng-if="question.type === 'select' && questionConfig.select" class="panel panel-success">
        <btn-survey-list-question-answer-select question="question" answer="answer"></btn-survey-list-question-answer-select>
    </div>
    <div ng-if="question.type === 'picklist' && questionConfig.picklist" class="panel panel-success">
        <btn-survey-list-question-answer-picklist question="question" answer="answer"></btn-survey-list-question-answer-picklist>
    </div>
    <div ng-if="question.type === 'percent' && questionConfig.percent" class="panel panel-success">
        <btn-survey-list-question-answer-percent question="question" answer="answer"></btn-survey-list-question-answer-percent>
    </div>
    <div ng-if="question.type === 'positiveInteger' && questionConfig.positiveInteger" class="panel panel-success">
        <btn-survey-list-question-answer-positiveinteger question="question" answer="answer" config="config"></btn-survey-list-question-answer-positiveinteger>
    </div>
    <div ng-if="question.type === 'email' && !question.isSystem && questionConfig.email" class="panel panel-success">
        <btn-survey-list-question-answer-email question="question" answer="answer" config="config" users="users"></btn-survey-list-question-answer-email>
    </div>
    <div ng-if="question.type === 'info' && questionConfig.info" class="panel panel-success">
        <btn-survey-list-question-answer-info question="question" answer="answer"></btn-survey-list-question-answer-info>
    </div>
    <div ng-if="question.type === 'error' && questionConfig.error" class="panel panel-success"
        <btn-survey-list-question-answer-info question="question" answer="answer"></btn-survey-list-question-answer-info>
    </div>

    <div ng-if="question.type === 'email' && question.isSystem && questionConfig.email" class="">
        <btn-survey-list-question-answer-system-email question="question" answer="answer" config="config" users="users"></btn-survey-list-question-answer-system-email>
    </div>
<!--             <div>
        <btn-survey-comment answer="answer"></btn-survey-comment>
    </div> -->
</li>