<select ng-if="question.readOnly == false" ng-init="answer.value = answer.value || question.options[0].id" ng-model="answer.value" class="form-control" ng-options="item.id as item.name for item in question.options"></select>
<p ng-if="question.readOnly">
    {{answer.value}}
</p>