<div ng-if="alert" class="slide-down alert-box" ng-animate="'animate'">
    <div ng-if="alert.type == 'error'">
        <div class="alert alert-danger fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" ng-click="closeAlert()" ng-if="alert.closable">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{btnSurveyLabel.error}}</strong>&nbsp;<span ng-bind-html="alert.message"></span>
        </div>
    </div>
    <div ng-if="alert.type == 'success'">
        <div class="alert alert-success fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" ng-click="closeAlert()" ng-if="alert.closable">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{btnSurveyLabel.success}}</strong>&nbsp;<span ng-bind-html="alert.message"></span>
        </div>
    </div>
    <div ng-if="alert.type == 'warning'">
        <div class="alert alert-warning fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" ng-click="closeAlert()" ng-if="alert.closable">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{btnSurveyLabel.warning}}</strong>&nbsp;<span ng-bind-html="alert.message"></span>
        </div>
    </div>
    <div ng-if="alert.type == 'info'">
        <div class="alert alert-info fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" ng-click="closeAlert()" ng-if="alert.closable">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{btnSurveyLabel.info}}</strong>&nbsp;<span ng-bind-html="alert.message"></span>
        </div>
    </div>
</div>