<div ng-if="question.readOnly == false" ng-repeat="option in question.options" class="">
    <div class="row question-option" ng-click="checkedOption(option.name)" ng-class="{selected: option.name == answer.value}">
        <div class="col-xs-12 userselect" ng-if="option.name == answer.selfAnswer">{{btnSurveyLabel.selfAssessment}}</div>
        <div class="inner">
            <div class="col-xs-12 col-sm-3 text-center">
                <div>
                    <div class="stars">
                        <img ng-src="{{btnSurveySfdcConf.url.imgPath}}star.png" ng-repeat="i in getStars($index) track by $index">
                    </div>
                    <strong>{{option.name}}</strong>
                </div>
                <div>
                    <span class="badge" uib-tooltip="{{btnSurveyLabel.sumOfAnswersChosenByColleagues}}">{{answer.otherEmployeesSkillOrGroupValue[option.name]}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 question-description">
                 {{option.description}}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div ng-if="question.readOnly">
    {{answer.value}}
</div>
