<div ng-if="question.readOnly == false" ng-repeat="option in question.options" class="">

    <div class="assessment">
        <div class="userselect" ng-if="option.name == answer.selfAnswer">{{btnSurveyLabel.selfAssessment}}</div>
        <div ng-if=" answer.otherEmployeeAvgValue || option.name == answer.selfAnswer" class="inner-assessment">
            <img ng-src="{{btnSurveySfdcConf.url.imgPath}}tick.png">
            {{btnSurveyLabel.numberOfEmployeesConfirmingCertificate}}
            <span class="badge">{{answer.otherEmployeeAvgValue > 0 ? answer.otherEmployeeAvgValue : 0}}</span>
        </div>
    </div>

    <div class="row question-option checkbox-box" ng-click="checkedOption(option.name)" ng-class="{selected: option.name == answer.value}">
        <div class="inner">
            <div class="col-xs-12">
                <div class="text-center">
                    <strong ng-if="answer.value == option.name">
                        <img ng-src="{{btnSurveySfdcConf.url.imgPath}}tick.png">
                        {{btnSurveyLabel.have}}
                    </strong>
                    <strong ng-if="answer.value != option.name">
                        <img ng-src="{{btnSurveySfdcConf.url.imgPath}}cross.png">
                        {{btnSurveyLabel.havent}}
                    </strong>
                </div>
            </div>
            <div class="col-xs-12question-description">
                 {{option.description}}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div ng-if="question.readOnly">
    {{answer.value}}
</div>
