<div ng-if="question.readOnly == false" ng-repeat="option in question.options" class="radio">
    <label>
        <input type="radio" value="{{option.id}}" ng-model="answer.value"> {{option.name}} &nbsp;&nbsp;
        <div ng-if="option.description" class="question-select-description">
            <span class="tooltiptext" ng-bind-html="option.description"></span>
        </div>
    </label>
</div>
<div ng-if="question.readOnly">
    {{answer.value}}
</div>
