<li class="list-serach-element" >
    <div id="{{answer.questionId}}" class="question-padding-15 panel panel-success achievement-question question-grid-element" ng-click="onClickQuestion()">
        <div class="achievement-question-header small-grid-question-tex achievement-question" ng-bind-html="question.name"></div>
        <div class="question-padding-bottom">
            <small class="italic-text">{{question.category}}</small>
        </div>
        <div class="small-grid-question-text achievement-question">
            <span ng-bind-html="answer.$$text"></span>
        </div>
        <div ng-if="answer.sumAnswers" class="sum" ng-class="{self: answer.selfAnswer != null}" uib-tooltip="{{ answer.selfAnswer == null ? btnSurveyLabel.sumAnswersCoWorkers : btnSurveyLabel.sumAnswersCoWorkersAndEmployee}}">
            {{answer.sumAnswers}}
        </div>
    </div>
</li>
