<div ng-show="canChangeMode == true">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" ng-if="cfg.showConfig == true" class="settings-button btn btn-secondary" ng-click='showConfigurationPanel()'>&#9881;</button>
            {{btnSurveyLabel.configuration}}
        </div>
        <div class="panel-body configuration-panel">
            <form>
                <select class="form-control" ng-options="item as item.name for item in modes" ng-model="selectedMode" > </select>
            </form>
        </div>
    </div>
</div>
<div ng-if="Object.keys(template).length !== 0">
    <div ng-if="selectedMode.id === 'list'">
        <btn-survey-list></btn-survey-list>
    </div>
    <div ng-if="selectedMode.id === 'grid'">
        <btn-survey-grid></btn-survey-grid>
    </div>
    <div ng-if="selectedMode.id === 'graph'">
        <btn-survey-graph></btn-survey-graph>
    </div>
    <div ng-if="selectedMode.id === 'smallGrid'">
        <btn-survey-graph-modal-window></btn-survey-graph-modal-window>
    </div>
    <div ng-if="selectedMode.id === 'achievementGrid'">
        <btn-survey-achievement-grid></btn-survey-achievement-grid>
    </div>
</div>