<div class="bootstrap">
    <div class="">
        <div ng-view></div>
        <btn-survey-alert></btn-survey-alert>
        <div class="panel panel-default">
            <div class="panel-heading">{{btnSurveyLabel.selectSurvey}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-6">
                        <div>
                            <label>{{btnSurveyLabel.templates}}:</label>
                        </div>
                        <select class="form-control" ng-init="selectedTemplate = selectedTemplate || templates[0]" ng-options="item as item.name for item in templates" ng-model="selectedTemplate" ng-change="onSelectTemplate()"></select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>{{btnSurveyLabel.surveys}}:</label>
                            </div>
                            <div class="col-xs-6" ng-if="selectedTemplate.surveys.length > 0">
                                <a href="#/new/{{selectedTemplate.templateApiName}}" class="btn btn-primary btn-xs pull-right" ng-click="onClickNew($event)" ng-if="selectedTemplate.multiSurvey"><span class="glyphicon glyphicon-plus"></span> {{btnSurveyLabel.newSurvey}}</a>
                            </div>
                        </div>
                        <div class="list-group" ng-if="selectedTemplate.surveys.length > 0">
                            <ui-select ng-model="selected.value" on-select="onSelectSurvey()">
                                <ui-select-match placeholder="{{btnSurveyLabel.yourSurveys}}">
                                    <span ng-bind="$select.selected.name"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="survey in (selectedTemplate.surveys | filter: $select.search) ">
                                    <span ng-bind="survey.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div ng-if="selectedTemplate.surveys.length == 0">
                            <div class="alert alert-info">{{btnSurveyLabel.noSurveys}}  <a href="#/new/{{selectedTemplate.templateApiName}}" class="btn btn-primary btn-xs pull-right" ng-click="onClickNew($event)" ng-if="selectedTemplate.multiSurvey"><span class="glyphicon glyphicon-plus"></span> {{btnSurveyLabel.newSurvey}}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="showSurvey">
            <btn-survey template="template" survey="survey" mode="mode" users="users" can-change-mode="canChangeMode" config="cfg" user="user" save="save()" onClear="onClear()" onEdit="onEdit()"></btn-survey>
        </div>
    </div>
</div>