<li class="list-serach-element question-padding-15 panel panel-success" ng-click="onClickQuestion()">
    <div class="question-padding-bottom small-grid-question-text" ng-bind-html="question.name"></div>
</li>
