<label>{{value.percent}}%</label>
<div ng-if="question.readOnly == false">
    <input type="range" id="myRange" ng-model="value.percent"></input>
</div>
<div ng-if="question.readOnly">
    <input type="range" id="myRange" ng-model="value.percent" disabled="true"></input>
</div>

