<div class="modal-header" show="modalDialogCtrl.dialogModel.showTitle">
    <button type="button" class="close" ng-click="modalDialogCtrl.close()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" ng-bind-html="modalDialogCtrl.dialogModel.title"></h4>
</div>

<div class="modal-body" show="modalDialogCtrl.dialogModel.showMessage">
    <p ng-bind-html="modalDialogCtrl.dialogModel.message"></p>
    <textarea placeholder="{{modalDialogCtrl.dialogModel.customLabel}}" class="form-control" rows="1" ng-model="modalDialogCtrl.dialogModel.answer.comment"></textarea>
</div>
<div class="modal-footer">
    <div ng-repeat="button in modalDialogCtrl.dialogModel.buttons">
        <button type="button" ng-click="button.action(modalDialogCtrl.modalInstance, modalDialogCtrl.value)" class="btn btn-default" data-dismiss="modal" ng-bind-html="button.label"></button>
    </div>
</div>