<div class="modal-header" show="modalDialogCtrl.dialogModel.showTitle">
    <button type="button" class="close" ng-click="modalDialogCtrl.close()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" ng-bind-html="modalDialogCtrl.dialogModel.question.name"></h4>
</div>
<div class="modal-body questions" show="modalDialogCtrl.dialogModel.showMessage">
    <p><small ng-bind-html="modalDialogCtrl.dialogModel.question.descriptions.Default"></small></p>
    <div>
        <div ng-if="modalDialogCtrl.dialogModel.question.type === 'text'">
            <btn-survey-graph-modal-window-question-answer-text question="modalDialogCtrl.dialogModel.question" answer="modalDialogCtrl.dialogModel.tmpAnswer" config="modalDialogCtrl.dialogModel.config"></btn-survey-graph-modal-window-question-answer-text>
        </div>
        <div ng-if="modalDialogCtrl.dialogModel.question.type === 'select'">
            <btn-survey-popup-question-answer-select question="modalDialogCtrl.dialogModel.question" answer="modalDialogCtrl.dialogModel.tmpAnswer" config="modalDialogCtrl.dialogModel.config"></btn-survey-popup-question-answer-select>
        </div>
        <div ng-if="modalDialogCtrl.dialogModel.question.type === 'checkbox'">
            <btn-survey-popup-question-answer-checkbox question="modalDialogCtrl.dialogModel.question" answer="modalDialogCtrl.dialogModel.tmpAnswer" config="modalDialogCtrl.dialogModel.config"></btn-survey-popup-question-answer-checkbox>
        </div>
        <div ng-if="modalDialogCtrl.dialogModel.question.type === 'picklist'">
            <btn-survey-graph-modal-window-question-answer-picklist question="modalDialogCtrl.dialogModel.question" answer="modalDialogCtrl.dialogModel.tmpAnswer" config="modalDialogCtrl.dialogModel.config"></btn-survey-graph-modal-window-question-answer-picklist>
        </div>
        <div ng-if="modalDialogCtrl.dialogModel.question.type === 'percent'">
            <btn-survey-graph-modal-window-question-answer-percent question="modalDialogCtrl.dialogModel.question" answer="modalDialogCtrl.dialogModel.tmpAnswer" config="modalDialogCtrl.dialogModel.config"></btn-survey-graph-modal-window-question-answer-percent>
        </div>
        <div ng-if="modalDialogCtrl.dialogModel.question.type === 'positiveInteger'">
            <btn-survey-popup-question-answer-positiveinteger question="modalDialogCtrl.dialogModel.question" answer="modalDialogCtrl.dialogModel.tmpAnswer" config="modalDialogCtrl.dialogModel.config"></btn-survey-popup-question-answer-positiveinteger>
        </div>
        <div ng-if="modalDialogCtrl.dialogModel.question.type === 'email'">
            <btn-survey-graph-modal-window-question-answer-email question="modalDialogCtrl.dialogModel.question" answer="modalDialogCtrl.dialogModel.tmpAnswer" config="modalDialogCtrl.dialogModel.config" users="modalDialogCtrl.dialogModel.users"></btn-survey-graph-modal-window-question-answer-email>
        </div>
        <div ng-if="modalDialogCtrl.dialogModel.question.type === 'info' || modalDialogCtrl.dialogModel.question.type === 'error'">
            <btn-survey-graph-modal-window-question-answer-info question="modalDialogCtrl.dialogModel.question" answer="modalDialogCtrl.dialogModel.tmpAnswer" config="modalDialogCtrl.dialogModel.config"></btn-survey-graph-modal-window-question-answer-info>
        </div>
    </div>
<!--     <div>
        <btn-survey-comment answer="modalDialogCtrl.dialogModel.tmpAnswer"></btn-survey-comment>
    </div>  -->
</div>
<div class="modal-footer">
    <div ng-repeat="button in modalDialogCtrl.dialogModel.buttons">
        <button type="button" ng-click="button.action(modalDialogCtrl.modalInstance, modalDialogCtrl.value)" ng-class="button.class" data-dismiss="cancel" ng-bind-html="button.label"></button>
    </div>
</div>