<div class="graph-container">
    <div class="graph">
    </div>
    <div class="disable-selection">
        <button type="button" class="btn btn-default" ng-click="home()" data-toggle="tooltip" data-placement="top" title="Default settings"> &#8962; </button>
        <button type="button" class="btn btn-default" ng-click="zoomIn()" data-toggle="tooltip" data-placement="top" title="Zoom In"> &#43; </button>
        <button type="button" class="btn btn-default" ng-click="zoomOut()" data-toggle="tooltip" data-placement="top" title="Zoom Out"> &#8722; </button>
    </div>
</div>