<div class="question-comment" >
    <div >
        <div class="wrapper text-right">
            <button ng-click="onPostComment()" class="btn btn-default">Post comment</button>
        </div>
    </div>
</div>