<div ng-if="question.readOnly == false" ng-repeat="option in question.options" class="radio">
    <label>
        <input type="radio" value="{{option.id}}" ng-model="answer.value"> <strong ng-class="{userSelect: option.name == answer.selfAnswer}">{{option.name}}</strong> <span ng-if="answer.otherEmployeesSkillOrGroupValue[option.name] > 0">[{{answer.otherEmployeesSkillOrGroupValue[option.name]}}]</span>
        <div class="question-description" ng-if="option.description">
            <div class="col-info">
                <span class="glyphicon glyphicon-info-sign pull-left"></span> 
            </div>
            <div>
                {{option.description}}
            </div>
        </div>
    </label>
</div>
<div ng-if="question.readOnly">
    {{answer.value}}
</div>
