<button ng-show="config.canSave"  class="btn btn-primary btn btn-secondary" ng-click="save()">&#9745; {{btnSurveyLabel.save}}</button>
<button ng-show="config.canClear" class="btn btn-primary btn btn-secondary" ng-click="onClear()">&#9746; {{btnSurveyLabel.clear}}</button>
<button ng-show="config.canEdit"  class="btn btn-primary btn btn-secondary" ng-click="onEdit()">&#9744; {{btnSurveyLabel.edit}}</button>