<div class="panel panel-default">
    <div class="panel-heading" ng-bind-html="template.name"></div>
    <div class="panel-body">
        <small ng-bind-html="template.description"></small>
        <btn-survey-graph-map template="template" survey="survey" height=600 items="items"></btn-survey-graph-map>
    </div>
</div>
