<div class="panel panel-default">
    <div class="panel-heading" ng-bind-html="template.name"></div>
    <div class="panel-body">
        <p class="survey-description">{{template.description}}</p>
        <ul class="row flex-container list-serach">
            <div ng-repeat="item in systemItems" class="col-lg-12 slide-left" ng-animate="'animate'">
                <btn-survey-list-question answer="item.answer" question="item.question"></btn-survey-list-question>
            </div>
        </ul>
        <div class="form-group search-box row">
            <div class="col-xs-12 col-sm-6">
                <select class="form-control" ng-model="filterSelect" ng-init="filterSelect = 'searchinall'">
                    <option value="{{option}}" ng-repeat="option in template.questionSearchOption">{{btnSurveyLabel[option]}}</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-6">
                <input type="search" ng-model="name" placeholder="{{btnSurveyLabel.find}}" aria-label="Find..." class="form-control input-search"/>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <tags-input ng-model="categories" replace-spaces-with-dashes="false" add-from-autocomplete-only="true" placeholder="{{btnSurveyLabel.findCategory}}">
                    <auto-complete min-length="1" source="loadCategories($query)"></auto-complete>
                </tags-input>
            </div>
            <div class="clearfix"></div> 
        </div>
        <ul class="row flex-container list-serach">
            <div ng-repeat="item in items | orderBy: 'question.order' | categoryFilter:categories | questionsFilter:filterSelect | filter:name as results" class="col-xs-12 col-sm-6 col-md-3 col-lg-2 slide-left" ng-animate="'animate'">
                <btn-survey-achievement-grid-question answer="item.answer" question="item.question"></btn-survey-achievement-grid-question>
            </div>
        </ul>
    </div>
</div>
