<div class="panel panel-default">
    <div class="panel-heading" ng-bind-html="template.name"></div>
    <div class="panel-body">
        <small ng-bind-html="template.description"></small>
        <div class="wrapper text-center button-block-padding-bottom">
            <btn-survey-buttons></btn-survey-buttons>
        </div>
        <input type="search" ng-model="name" placeholder="Find..." aria-label="Find..." class="form-control input-search"/>
        <ul class="list-serach">
            <div ng-repeat="item in items | orderBy: 'question.order' | filter:name as results" class="slide-left" ng-animate="'animate'">
                <btn-survey-list-question answer="item.answer" question="item.question"></btn-survey-list-question>
            </div>
        </ul>
        <div class="wrapper text-center">
            <btn-survey-buttons></btn-survey-buttons>
        </div>
    </div>
</div>
