<span ng-bind-html="answer.value"></span>&nbsp; &nbsp;
<div ng-if="answer.value" class="question-select-description">
    <span ng-if="answer.description" class="tooltiptext" ng-bind-html="answer.description"></span>
    <span ng-if="!answer.description" class="tooltiptext" ng-bind-html="'Brak opisu. <br> Poproś admina o uzupełenienie!'"></span>
</div>
