<div class="panel panel-default">
    <div class="panel-heading" ng-bind-html="template.name"></div>
    <div class="panel-body">
        <small ng-bind="template.description"></small>
        <div class="wrapper text-center button-block-padding-bottom row" >
            <btn-survey-buttons></btn-survey-buttons>
        </div>
        <input type="search" ng-model="name" placeholder="Find..." aria-label="Find..." class="form-control input-search"/>
        <ul class="row list-serach">
            <div ng-repeat="item in items | orderBy: 'question.order' | filter:name as results">
                <btn-survey-graph-modal-window-question answer="item.answer" question="item.question" class="col-xs-12 col-sm-6 col-md-3 col-lg-2 slide-left" ng-animate="'animate'"></btn-survey-graph-modal-window-question>
            </div>
        </ul>
        <div class="wrapper text-center row">
            <btn-survey-buttons></btn-survey-buttons>
        </div>
    </div>
</div>
